.highlight{
  font-style: italic;
  color:goldenrod;
}

.grad{
  
  background-image: url("assets/whitebg.jpg");
  
  backgroung-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
   
}



