.highlight{
  font-style: italic;
  color:goldenrod;
}

.grad{
  
  background-image: url("assets/BananaLeafbg-preview.png");
  backgroung-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
   
}



