.highlight{
  font-style: italic;
  color:orange;
  font-family: serif;
  
}

.grad{
  
  background-image: url("assets/lotusbg.png");
  background-repeat: repeat;
  /*background-attachment: fixed;*/
  background-size:contain;
  /*background-size: 300px 600px ;*/
  background-position: center top;
 
   
}



